version: "3"
services:
  app:
    build: .
    container_name: app
    restart: always
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
